@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	font-family: 'Inconsolata', monospace;
	color: white;
	background-color: #111827;
}

a {
	@apply underline underline-offset-2 transition ease-out active:scale-110 active:text-blue-400;
}
